handling questions with multiple parts

In [42]:
import pandas as pd
import numpy as np 

df_freeForm = pd.read_csv('kaggle-survey-2018/freeFormResponses.csv')
df_multi_choice = pd.read_csv('kaggle-survey-2018/multipleChoiceResponses.csv')
df_survey_schema = pd.read_csv('kaggle-survey-2018/SurveySchema.csv')

/Users/adrianlievano/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/adrianlievano/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,2,8,10,21,23,24,25,26,27,28,44,56,64,83,85,87,107,109,123,125,150,157,172,174,194,210,218,219,223,246,249,262,264,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,304,306,325,326,329,341,368,371,384,385,389,390,391,393,394) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [52]:
part_cols = []

for col in df_multi_choice.columns:
    try:
        column_name_list = col.split('_')
        if 'Part' in column_name_list:
            part_cols.append(col)
    except:
        continue
        
print(part_cols)

['Q11_Part_1', 'Q11_Part_2', 'Q11_Part_3', 'Q11_Part_4', 'Q11_Part_5', 'Q11_Part_6', 'Q11_Part_7', 'Q12_Part_1_TEXT', 'Q12_Part_2_TEXT', 'Q12_Part_3_TEXT', 'Q12_Part_4_TEXT', 'Q12_Part_5_TEXT', 'Q13_Part_1', 'Q13_Part_2', 'Q13_Part_3', 'Q13_Part_4', 'Q13_Part_5', 'Q13_Part_6', 'Q13_Part_7', 'Q13_Part_8', 'Q13_Part_9', 'Q13_Part_10', 'Q13_Part_11', 'Q13_Part_12', 'Q13_Part_13', 'Q13_Part_14', 'Q13_Part_15', 'Q14_Part_1', 'Q14_Part_2', 'Q14_Part_3', 'Q14_Part_4', 'Q14_Part_5', 'Q14_Part_6', 'Q14_Part_7', 'Q14_Part_8', 'Q14_Part_9', 'Q14_Part_10', 'Q14_Part_11', 'Q15_Part_1', 'Q15_Part_2', 'Q15_Part_3', 'Q15_Part_4', 'Q15_Part_5', 'Q15_Part_6', 'Q15_Part_7', 'Q16_Part_1', 'Q16_Part_2', 'Q16_Part_3', 'Q16_Part_4', 'Q16_Part_5', 'Q16_Part_6', 'Q16_Part_7', 'Q16_Part_8', 'Q16_Part_9', 'Q16_Part_10', 'Q16_Part_11', 'Q16_Part_12', 'Q16_Part_13', 'Q16_Part_14', 'Q16_Part_15', 'Q16_Part_16', 'Q16_Part_17', 'Q16_Part_18', 'Q19_Part_1', 'Q19_Part_2', 'Q19_Part_3', 'Q19_Part_4', 'Q19_Part_5', 'Q19_Part_6', 'Q19_Part_7', 'Q19_Part_8', 'Q19_Part_9', 'Q19_Part_10', 'Q19_Part_11', 'Q19_Part_12', 'Q19_Part_13', 'Q19_Part_14', 'Q19_Part_15', 'Q19_Part_16', 'Q19_Part_17', 'Q19_Part_18', 'Q19_Part_19', 'Q21_Part_1', 'Q21_Part_2', 'Q21_Part_3', 'Q21_Part_4', 'Q21_Part_5', 'Q21_Part_6', 'Q21_Part_7', 'Q21_Part_8', 'Q21_Part_9', 'Q21_Part_10', 'Q21_Part_11', 'Q21_Part_12', 'Q21_Part_13', 'Q27_Part_1', 'Q27_Part_2', 'Q27_Part_3', 'Q27_Part_4', 'Q27_Part_5', 'Q27_Part_6', 'Q27_Part_7', 'Q27_Part_8', 'Q27_Part_9', 'Q27_Part_10', 'Q27_Part_11', 'Q27_Part_12', 'Q27_Part_13', 'Q27_Part_14', 'Q27_Part_15', 'Q27_Part_16', 'Q27_Part_17', 'Q27_Part_18', 'Q27_Part_19', 'Q27_Part_20', 'Q28_Part_1', 'Q28_Part_2', 'Q28_Part_3', 'Q28_Part_4', 'Q28_Part_5', 'Q28_Part_6', 'Q28_Part_7', 'Q28_Part_8', 'Q28_Part_9', 'Q28_Part_10', 'Q28_Part_11', 'Q28_Part_12', 'Q28_Part_13', 'Q28_Part_14', 'Q28_Part_15', 'Q28_Part_16', 'Q28_Part_17', 'Q28_Part_18', 'Q28_Part_19', 'Q28_Part_20', 'Q28_Part_21', 'Q28_Part_22', 'Q28_Part_23', 'Q28_Part_24', 'Q28_Part_25', 'Q28_Part_26', 'Q28_Part_27', 'Q28_Part_28', 'Q28_Part_29', 'Q28_Part_30', 'Q28_Part_31', 'Q28_Part_32', 'Q28_Part_33', 'Q28_Part_34', 'Q28_Part_35', 'Q28_Part_36', 'Q28_Part_37', 'Q28_Part_38', 'Q28_Part_39', 'Q28_Part_40', 'Q28_Part_41', 'Q28_Part_42', 'Q28_Part_43', 'Q29_Part_1', 'Q29_Part_2', 'Q29_Part_3', 'Q29_Part_4', 'Q29_Part_5', 'Q29_Part_6', 'Q29_Part_7', 'Q29_Part_8', 'Q29_Part_9', 'Q29_Part_10', 'Q29_Part_11', 'Q29_Part_12', 'Q29_Part_13', 'Q29_Part_14', 'Q29_Part_15', 'Q29_Part_16', 'Q29_Part_17', 'Q29_Part_18', 'Q29_Part_19', 'Q29_Part_20', 'Q29_Part_21', 'Q29_Part_22', 'Q29_Part_23', 'Q29_Part_24', 'Q29_Part_25', 'Q29_Part_26', 'Q29_Part_27', 'Q29_Part_28', 'Q30_Part_1', 'Q30_Part_2', 'Q30_Part_3', 'Q30_Part_4', 'Q30_Part_5', 'Q30_Part_6', 'Q30_Part_7', 'Q30_Part_8', 'Q30_Part_9', 'Q30_Part_10', 'Q30_Part_11', 'Q30_Part_12', 'Q30_Part_13', 'Q30_Part_14', 'Q30_Part_15', 'Q30_Part_16', 'Q30_Part_17', 'Q30_Part_18', 'Q30_Part_19', 'Q30_Part_20', 'Q30_Part_21', 'Q30_Part_22', 'Q30_Part_23', 'Q30_Part_24', 'Q30_Part_25', 'Q31_Part_1', 'Q31_Part_2', 'Q31_Part_3', 'Q31_Part_4', 'Q31_Part_5', 'Q31_Part_6', 'Q31_Part_7', 'Q31_Part_8', 'Q31_Part_9', 'Q31_Part_10', 'Q31_Part_11', 'Q31_Part_12', 'Q33_Part_1', 'Q33_Part_2', 'Q33_Part_3', 'Q33_Part_4', 'Q33_Part_5', 'Q33_Part_6', 'Q33_Part_7', 'Q33_Part_8', 'Q33_Part_9', 'Q33_Part_10', 'Q33_Part_11', 'Q34_Part_1', 'Q34_Part_2', 'Q34_Part_3', 'Q34_Part_4', 'Q34_Part_5', 'Q34_Part_6', 'Q35_Part_1', 'Q35_Part_2', 'Q35_Part_3', 'Q35_Part_4', 'Q35_Part_5', 'Q35_Part_6', 'Q36_Part_1', 'Q36_Part_2', 'Q36_Part_3', 'Q36_Part_4', 'Q36_Part_5', 'Q36_Part_6', 'Q36_Part_7', 'Q36_Part_8', 'Q36_Part_9', 'Q36_Part_10', 'Q36_Part_11', 'Q36_Part_12', 'Q36_Part_13', 'Q38_Part_1', 'Q38_Part_2', 'Q38_Part_3', 'Q38_Part_4', 'Q38_Part_5', 'Q38_Part_6', 'Q38_Part_7', 'Q38_Part_8', 'Q38_Part_9', 'Q38_Part_10', 'Q38_Part_11', 'Q38_Part_12', 'Q38_Part_13', 'Q38_Part_14', 'Q38_Part_15', 'Q38_Part_16', 'Q38_Part_17', 'Q38_Part_18', 'Q38_Part_19', 'Q38_Part_20', 'Q38_Part_21', 'Q38_Part_22', 'Q39_Part_1', 'Q39_Part_2', 'Q41_Part_1', 'Q41_Part_2', 'Q41_Part_3', 'Q42_Part_1', 'Q42_Part_2', 'Q42_Part_3', 'Q42_Part_4', 'Q42_Part_5', 'Q44_Part_1', 'Q44_Part_2', 'Q44_Part_3', 'Q44_Part_4', 'Q44_Part_5', 'Q44_Part_6', 'Q45_Part_1', 'Q45_Part_2', 'Q45_Part_3', 'Q45_Part_4', 'Q45_Part_5', 'Q45_Part_6', 'Q47_Part_1', 'Q47_Part_2', 'Q47_Part_3', 'Q47_Part_4', 'Q47_Part_5', 'Q47_Part_6', 'Q47_Part_7', 'Q47_Part_8', 'Q47_Part_9', 'Q47_Part_10', 'Q47_Part_11', 'Q47_Part_12', 'Q47_Part_13', 'Q47_Part_14', 'Q47_Part_15', 'Q47_Part_16', 'Q49_Part_1', 'Q49_Part_2', 'Q49_Part_3', 'Q49_Part_4', 'Q49_Part_5', 'Q49_Part_6', 'Q49_Part_7', 'Q49_Part_8', 'Q49_Part_9', 'Q49_Part_10', 'Q49_Part_11', 'Q49_Part_12', 'Q50_Part_1', 'Q50_Part_2', 'Q50_Part_3', 'Q50_Part_4', 'Q50_Part_5', 'Q50_Part_6', 'Q50_Part_7', 'Q50_Part_8']

In [53]:
#pd.concat([df1, df4], axis=1, sort=False)
q11 = ['Q11_Part_1', 'Q11_Part_2', 'Q11_Part_3', 'Q11_Part_4', 'Q11_Part_5', 'Q11_Part_6']

df_11 = pd.DataFrame()

for ele in q11:
    df_11 = pd.concat([df_11, df_multi_choice[ele]], axis = 1)

df_11.head()

,Q11_Part_1,Q11_Part_2,Q11_Part_3,Q11_Part_4,Q11_Part_5,Q11_Part_6
0,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...,Select any activities that make up an importan...
1,Analyze and understand data to influence produ...,Build and/or run a machine learning service th...,Build and/or run the data infrastructure that ...,NaN,Do research that advances the state of the art...,NaN
2,NaN,NaN,NaN,NaN,NaN,None of these activities are an important part...
3,Analyze and understand data to influence produ...,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df_multi_choice = df_multi_choice[1:].reset_index().drop(['index', 'level_0'], axis = 1)
df_multi_choice.head()

,Time from Start to Finish (seconds),Q1,Q1_OTHER_TEXT,Q2,Q3,Q4,Q5,Q6,Q6_OTHER_TEXT,Q7,...,Q49_OTHER_TEXT,Q50_Part_1,Q50_Part_2,Q50_Part_3,Q50_Part_4,Q50_Part_5,Q50_Part_6,Q50_Part_7,Q50_Part_8,Q50_OTHER_TEXT
0,718,Female,-1,30-34,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,-1,I am a student,...,-1,NaN,Too time-consuming,NaN,NaN,NaN,NaN,NaN,NaN,-1
1,621,Male,-1,35-39,United States of America,Master’s degree,"Social sciences (anthropology, psychology, soc...",Not employed,-1,NaN,...,-1,NaN,NaN,Requires too much technical knowledge,NaN,Not enough incentives to share my work,NaN,NaN,NaN,-1
2,731,Male,-1,22-24,India,Master’s degree,Mathematics or statistics,Data Analyst,-1,I am a student,...,-1,NaN,Too time-consuming,NaN,NaN,Not enough incentives to share my work,NaN,NaN,NaN,-1
3,1142,Male,-1,25-29,Colombia,Bachelor’s degree,Physics or astronomy,Data Scientist,-1,Computers/Technology,...,-1,NaN,NaN,NaN,Afraid that others will use my work without gi...,NaN,I had never considered making my work easier f...,NaN,NaN,-1
4,959,Male,-1,35-39,Chile,Doctoral degree,"Information technology, networking, or system ...",Other,1,Academics/Education,...,-1,Too expensive,NaN,NaN,NaN,NaN,I had never considered making my work easier f...,NaN,NaN,-1